In [3]:
#1. Create a list called years_list, starting with the year of your birth, and each year thereafter until
#the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
#[1980, 1981, 1982, 1983, 1984, 1985].

year=[]
for i in range(1997,2003):
    year.append(i)
    
year

[1997, 1998, 1999, 2000, 2001, 2002]

In [4]:
#2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

year[3]

2000

In [5]:
#3.In the years list, which year were you the oldest?

max(year)

2002

In [6]:
#4. Make a list called things with these three strings as elements: 'mozzarella', 'cinderella', 'salmonella'.

food= ['mozzarella', 'cinderella','salmonella']
food

['mozzarella', 'cinderella', 'salmonella']

In [8]:
#5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

for i in food:
    print(i.capitalize())

Mozzarella
Cinderella
Salmonella

In [9]:
#6. Make a surprise list with the elements 'Groucho,' 'Chico,' and 'Harpo.'

surprise_list = ['Groucho' , 'Chico' , 'Harpo']
surprise_list

['Groucho', 'Chico', 'Harpo']

In [12]:
#7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

print(surprise_list[-1].lower())

print(surprise_list[-1][::-1])

print(surprise_list[-1][::-1].upper())

harpo
opraH
OPRAH

In [13]:
#8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

e2f = {'dog':'chien','cat':'chat','walrus':'morse'}

In [16]:
#9. Write the French word for walrus in your three-word dictionary e2f.

e2f['walrus']

'morse'

In [15]:
#10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

f2e = dict((key,value) for value,key in e2f.items())
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [17]:
#11. Print the English version of the French word chien using f2e.

f2e['chien']

'dog'

In [18]:
#12. Make and print a set of English words from the keys in e2f.

e2f.keys()

dict_keys(['dog', 'cat', 'walrus'])

In [22]:
#13. Make a multilevel dictionary called life. Use these strings for the topmost keys: &#39;animals&#39;, &#39;plants&#39;,
#and &#39;other&#39;. Make the &#39;animals&#39; key refer to another dictionary with the keys &#39;cats&#39;, &#39;octopi&#39;, and
#&#39;emus&#39;. Make the &#39;cats&#39; key refer to a list of strings with the values &#39;Henri&#39;, &#39;Grumpy&#39;, and &#39;Lucy&#39;.
#Make all the other keys refer to empty dictionaries.


life ={'animals':{'cat':['Henri', 'Grumpy', 'Lucy'], 'octopi':'', 'emus':''},
       'plants' :'',
       'other' :'' }
life

{'animals': {'cat': ['Henri', 'Grumpy', 'Lucy'], 'octopi': '', 'emus': ''},
 'plants': '',
 'other': ''}

In [21]:
#14. Print the top-level keys of life.
 
life.keys()

dict_keys(['animals', 'plants', 'other'])

In [23]:
#15. Print the keys for life['animals'].

life['animals'].keys()

dict_keys(['cat', 'octopi', 'emus'])

In [25]:
#16. Print the values for life['animals']['cats']
life['animals']['cat']

['Henri', 'Grumpy', 'Lucy']