In [3]:
#1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
#file named test.txt.

test1= 'this is test of emergency test system'
len(test1)

file= open('test.txt', 'wt')
file.write(test1)
file.close()

In [5]:
#2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
#and test 2?

test2= open('test.txt', 'rt')

test1==test2

False

In [39]:
#3. Create a CSV file called books.csv by using these lines:
#title,author,year
#The Weirdstone of Brisingamen,Alan Garner,1960
#Perdido Street Station,China Miéville,2000
#Thud!,Terry Pratchett,2005
#The Spellman Files,Lisa Lutz,2007
#Small Gods,Terry Pratchett,1992
text=""" title,author,year, 
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992"""
file2= open('books1.csv', 'wt')
file2.write(text)

203

In [40]:
#4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
#these fields: title (text), author (text), and year (integer).

import sqlite3
db= sqlite3.connect('books1.db')
curs= db.cursor()
curs.execute('''create table books ( title text, author text, year int)''')
db.commit()

In [43]:
#5. Read books.csv and insert its data into the book table.

import csv
import sqlite3

insert= 'insert into book values(?,?,?)'
with open('books1.csv', 'rt') as file:
    books1= csv.DictReader(file)
    for book in books1:
        curs.execute(insert, (books1['title'], books1['author'], books1['year']))

In [44]:
6. Select and print the title column from the book table in alphabetical order.

sql= 'select title from book ordered by title acs'
for row in db.execute(sql):
    print(row)

('Perdido Street Station',)
('small gods',)
('the spellman files',)
('the weirdstone pf brisingamen',)
('Thud!',)

for row in db.execute(sql):
    print(row[0])

SyntaxError: invalid syntax (3472667987.py, line 1)

In [35]:
7. From the book table, select and print all columns in the order of publication.

for row in db.execute
('select * from book order by year'):
    print(row)
    
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

for row in db.execute
('select * from book order by year'):
     
print(*row, sep=', ')

SyntaxError: invalid syntax (2515055822.py, line 1)

In [45]:
8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
sql = 'select title from book order by title asc'
rows = conn.execute(sql)

for row in rows:
     
print(row)

SyntaxError: invalid syntax (2384722494.py, line 1)

In [37]:
9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for
test.

SyntaxError: invalid syntax (354043094.py, line 1)

In [46]:
10. Increment the count field of test and print it.

conn.hincrby('test', 'count', 3)

conn.hget('test', 'count')

SyntaxError: invalid syntax (3224579492.py, line 1)